{% extends './base.html' %}
{% load static %}
<!DOCTYPE HTML>
<!-- Cube by FreeHTML5.co Twitter: http://twitter.com/gettemplateco URL: http://freehtml5.co -->

{% block content %}
  <header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-left">
          <div class="display-t">
            <div class="display-tc">
              <div class="custom_dis">
                <div class="row custom__inner_dis">
                  <div class="col-md-8 animate-box">
                    <h1 class="no-margin">About Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia facilis, accusamus iusto animi.</p>
                  </div>
                </div>
                <div>
                  <img class='top_pic_size' src="{% static 'indexpage/images/cho_eun_bi_top.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END #gtco-header -->

    <div class="gtco-services gtco-section">
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
            <h2>Our Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            <div class="owl-carousel owl-carousel-carousel">
              <div class="item">
                <div class="gtco-staff">
                  <img class="about_pic_size" src="{% static 'indexpage/images/Lee_Seo_El.jpg' %}" alt="">
                  <h2>Lee Seo El</h2>
                  <p class="role">Founder</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  {% comment %} <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul> {% endcomment %}
                </div>
              </div>
              <div class="item">
                <div class="gtco-staff">
                  <img class ='about_pic_size'src="{% static 'indexpage/images/cho_eun_bi_pro.jpg' %}" alt="" class="img-responsive">
                  <h2>Cho Eun Bi</h2>
                  <p class="role">Developer</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  {% comment %} <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul> {% endcomment %}
                </div>
              </div>
              <div class="item">
                <div class="gtco-staff">
                  <img class='about_pic_size' src="{% static 'indexpage/images/Lee_Yae_eun.png' %}" alt="" class="img-responsive">
                  <h2>Lee Yae Eun</h2>
                  <p class="role">Designer</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  {% comment %} <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul> {% endcomment %}
                </div>
              </div>

              <div class="item">
                <div class="gtco-staff">
                  <img src="images/staff_1.jpg" alt="" class="img-responsive">
                  <h2>Jane Simpson</h2>
                  <p class="role">Founder</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="gtco-staff">
                  <img src="images/staff_2.jpg" alt="" class="img-responsive">
                  <h2>Richard Wilson</h2>
                  <p class="role">Developer</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="gtco-staff">
                  <img src="images/staff_3.jpg" alt="" class="img-responsive">
                  <h2>Craig Davidson</h2>
                  <p class="role">Designer</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="item">
                <div class="gtco-staff">
                  <img src="images/staff_1.jpg" alt="" class="img-responsive">
                  <h2>Jane Simpson</h2>
                  <p class="role">Founder</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="gtco-staff">
                  <img src="images/staff_2.jpg" alt="" class="img-responsive">
                  <h2>Richard Wilson</h2>
                  <p class="role">Developer</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <div class="gtco-staff">
                  <img src="images/staff_3.jpg" alt="" class="img-responsive">
                  <h2>Craig Davidson</h2>
                  <p class="role">Designer</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
                  <ul class="fh5co-social">
                    <li>
                      <a href="#">
                        <i class="icon-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END .gtco-services -->

    <div class="gtco-section gtco-products">
      <div class="gtco-container">
        <div class="row row-pb-sm">
          <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
            <h2>Introduce Our Major</h2>
            <p>Department created for the first time in Korea</p>
          </div>
        </div>
        <div class='costom_dis_in_about'>
          <img class='about_pic_size_1 'src="{% static 'indexpage/images/basic_picture_1.png' %}" alt="">
        </div>
        <div>
          <ul>
            <li>우리나라 최초이자 전국에서 유일하게 운영 중인 공공안전데이터사이언스융합인재 전문양성체계</li>
            <p></p>
            <li>국내외 최고수준의 범죄심리학·범죄학·사회복지학·컴퓨터과학 교수진을 확보에 따른 특성화전문영역의
                제와 공공안전문제 해결을 위한 인문사회과학기술융합의 협동프로그램</li>
                <p></p>
            <li>4차 산업혁명 핵심기술인 빅데이터와 인공지능-딥러닝을 중심으로 하는 데이터사이언스와 상황적 범죄예방이론을 중심으로 하는       공공안전(범죄심리분석, 범죄, 사회복지, 경찰)을 융합적으로 겸비한 T-자형 공공안전 융합인재(범죄·범죄심리·피해자회복·수사·경찰전문가) 를 양성하는 협동프로그램</li>
            <p></p>
            <li>전통적인 범죄예방 관점에서 벗어나 사회복지학을 중심으로 하는 피해자 관점의 심리분석과 회복 교과과정을 추가적으로 구성한 3대-전문학습역량(예측치유·예측제어·예측경찰)과 5대-소양학습역량(전문영역전공지식소양·통계전공지식소양·빅데이터전공지식소양·소프트웨어전공지식소양·실무전공지식소양) 중심의 T-자형 융합인력양성을 대표적 교육목표로 설정한 독창적인 교육과정</li>
            <p></p>
            <li>최근 다양한 원천에서 쏟아지는 빅데이터와 4차산업혁명의 핵심기술인 인공지능 그리고 범죄심리학과
            으로 공공적·사회적·산업적 위협에 대한 근본적 해결방안을 연구하는 심리데이터아키텍트를 양성하는 협동프로그램</li>
            <p></p>
            <li>교육과정을 성공적으로 이수한 졸업자들은 궁극적으로 사이버범죄예방 전문영역의 사회진출과 함께 예측치유·예측제어·예측경찰 전문영역의 빅데이터-스페셜리스트로서의 전문가적 능력을 발휘할 뿐 만 아니라 그 영역의 교육적 역할과 활동을 주도적으로 이끌어갈 것으로 예상함</li>
          </ul>
        </div>
      </div>
    </div>
      
    <!-- END .gtco-products -->

    <div class="gtco-section gtco-testimonial gtco-gray">
      <div class="gtco-container">

        <div class="row row-pb-sm">
          <div class="col-md-8 col-md-offset-2 gtco-heading text-center">
            <h2>People Love Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 animate-box">
            <div class="gtco-testimony gtco-left">
              <div><img src="images/person_1.jpg" alt="Free Website template by FreeHTML5.co"></div>
              <blockquote>
                <p>&ldquo;Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained.&rdquo;
                  <cite class="author">&mdash; Ferdinand A. Porsche</cite>
                </p>
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 animate-box">
            <div class="gtco-testimony gtco-left">
              <div><img src="images/person_2.jpg" alt="Free Website template by FreeHTML5.co"></div>
              <blockquote>
                <p>&ldquo;Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.&rdquo;
                  <cite class="author">&mdash; Steve Jobs</cite>
                </p>
              </blockquote>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 animate-box">
            <div class="gtco-testimony gtco-left">
              <div><img src="images/person_3.jpg" alt="Free Website template by FreeHTML5.co"></div>
              <blockquote>
                <p>&ldquo;I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly.&rdquo;
                  <cite class="author">&mdash; Frank Chimero</cite>
                </p>
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 animate-box">
            <div class="gtco-testimony gtco-left">
              <div><img src="images/person_1.jpg" alt="Free Website template by FreeHTML5.co"></div>
              <blockquote>
                <p>&ldquo;Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained.&rdquo;
                  <cite class="author">&mdash; Ferdinand A. Porsche</cite>
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="gtco-footer" class="gtco-section" role="contentinfo">
      <div class="gtco-container">
        <div class="row row-pb-md">
          <div class="col-md-8 col-md-offset-2 gtco-cta text-center">
            <h3>We Love To Talk About Your Business</h3>
            <p>
              <a href="#" class="btn btn-white btn-outline">Contact Us</a>
            </p>
          </div>
        </div>
        <div class="row row-pb-md">
          <div class="col-md-4 gtco-widget gtco-footer-paragraph">
            <h3>Cube</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod.</p>
          </div>
          <div class="col-md-4 gtco-footer-link">
            <div class="row">
              <div class="col-md-6">
                <ul class="gtco-list-link">
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">Features</a>
                  </li>
                  <li>
                    <a href="#">Products</a>
                  </li>
                  <li>
                    <a href="#">Testimonial</a>
                  </li>
                  <li>
                    <a href="#">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <p>
                  <a href="tel://1234567890">+1 234 4565 2342</a>
                  <br>
                  <a href="#">info@domain.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 gtco-footer-subscribe">
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="" placeholder="Email">
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
      </div>
      <div class="gtco-copyright">
        <div class="gtco-container">
          <div class="row">
            <div class="col-md-6 text-left"></div>
            <div class="col-md-6 text-right">
              Shared by
              <i class="fa fa-love"></i>
              <a href="https://bootstrapthemes.co">BootstrapThemes</a>

            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
{% endblock content %}
